html
    head
        title Look Inna Book BookStore
        include ./header.pug
    body

        .container-fluid
            .row
                .col-sm-2(style='background-color:slategrey; min-height:100%;')
                    h4.mb-3 Search Books
                    form.form-inline.my-2.my-lg-0(action='/books' method='get')
                        input.form-control.mr-sm-2(type='search' placeholder='Search Books By Name' name='book_name' value=`${query && query.book_name ? query.book_name : ""}`)
                        br
                        br
                        input(type='checkbox'  name='exact_match' value=`${query && query.exact_match ? query.exact_match : false}` oninput='this.value = this.value == `true`?false:true')
                        label(for='exact_match') Exact Name Match
                        br
                        br
                        input.form-control.mr-sm-2(type='search' placeholder='Search Books By ISBN' name='book_isbn' value=`${query && query.book_isbn ? query.book_isbn : ""}`)
                        br
                        br
                        select.form-select(aria-label='Genre' name='genre')
                            option(selected value='') Select a Genre
                            for genre in genres
                                option(value=`${genre.genre}`) #{genre.genre}
                        br
                        br
                        select.form-select(aria-label='Author' name='author')
                            option(selected value='') Select an Author
                            for author in authors
                                option(value=`${author.auth_name}`) #{author.auth_name}
                        br
                        br
                        row.col-md-6(style='text-align: left;')
                            label(for='price_range') Price Range
                            input(type='range' value=`${query && query.price_range ? query.price_range : '100'}` min='0' max='100' name='price_range' oninput='this.nextElementSibling.value = `$0 to $` + this.value')
                            output $0 to $#{query && query.price_range ? query.price_range : 100}
                        br
                        br
                        row.col-md-12
                            button.btn.btn-primary-success.my-2.my-sm-0(type='submit') Search
                if books.length
                    .col-sm-10(id="two" class="book_holder" style="display:flex; flex-wrap:wrap;")
                        .card-deck
                        each book in books
                            .card(style='width: 18rem;')
                                if book.cover_image
                                    img.card-img-top(src=`${book.cover_image}` alt=`${book.name}` style="height:200px")
                                else
                                    img.card-img-top(src='/images/open-book.png' alt=`${book.name}` style="height:200px")
                                .card-body
                                    h5.card-title #{book.name}
                                    p.card-text
                                        | Author(s): #{book.authors}
                                    p.card-text
                                        | Genre: #{book.genre}
                                    p.card-text
                                        | Price: $#{book.price} 
                                    a.btn.btn-primary(href=`/books/${book.isbn}`) View Book
                else
                    h4 Sorry, no books match those search criteria