html
    head
        title Look Inna Book BookStore
        include ./header.pug
    body
        .card.justify-content-center(style='width: 80%; margin: 50px auto;')
            .card-body.text-center
                if book && book.cover_image
                    img.card-img-top.text-center(src=`${book.cover_image}` alt='book' style='width: 15%; height:15% ')
                else
                    img.card-img-top.text-center(src='/images/open-book.png' alt='book' style='width: 15%; height:15% ')
            .card-body
                h5.card-title #{book.name}
                if book.description.length > 2
                    p.card-text
                        | #{book.description}
                else
                    p.card-text
                        | This book has no description
            ul.list-group.list-group-flush
                li.list-group-item Rating: #{bookRating}
                li.list-group-item Author(s): #{book.authors}
                li.list-group-item Pages: #{book.page_num}
                li.list-group-item Publisher: #{book.pub_name}
                li.list-group-item ISBN: #{book.isbn}
                li.list-group-item Price: $#{book.price}
                li.list-group-item Genre #{book.genre}
            .card-body
                form(action='/cart' method='post')
                    input#quantity(type='number' name='quantity' min='1' value='1')
                    |
                    |
                    button.btn.btn-primary(type='submit' name='add' value=`${book.isbn}`) Add to Cart
        .div(style='width: 80%; margin: 50px auto;max-height: 500px;overflow:auto')
            .card.justify-content-center
                .card-body
                    h5.card-title Reviews
                    ul.list-group.list-group-flush
                        if reviews && reviews.length
                            for review in reviews
                                li.list-group-item
                                    p.card-text
                                    | Rating: #{review.rating}/5
                                    br
                                    p.card-text
                                    | Comment:
                                    br
                                    | #{review.comment}
                                    br
                                    p.card-text
                                    | - #{review.name}
                        else
                            li.list-group-item
                                p.card-text
                                    | Be the first to add a review for this book
        .card.justify-content-center(style='width: 80%; margin: 50px auto;')
            .card-body
                h5.card-title Add a Review
            form(action='/review' method='post')
                ul.list-group.list-group-flush
                    li.list-group-item
                        label(for='review_name')
                        | Name (30 Character Limit)
                        br
                        input#review_name(type='text' name='review_name' maxlength='30' required)
                    li.list-group-item
                        label(for='review_comment')
                        | Comment (300 Character Limit)
                        br
                        textarea#review_comment(rows='3' placeholder='Your thoughts?' name='review_comment' maxlength='300' required style='width: 100%')
                    li.list-group-item
                        label(for='review_rating')
                        | Rating
                        br
                        input#review_comment(type='number' name='review_rating' min='1' max='5' value='5' required)
                    li.list-group-item
                        button.btn.btn-primary(type='submit' name='review_isbn' value=`${book.isbn}`) Submit Review
                