html
    head
        title Look Inna Book BookStore
        include ./header.pug
    body
        if cart
            -var subtotal = 0
            h1 Current Cart Items
            table.table
                thead
                    tr
                        th(scope='col' style='width: 40%;') Book Name
                        th(scope='col' style='width: 30%;') Quantity
                        th(scope='col' style='width: 10%;') Price
                        th(scope='col' style='width: 20%;') Remove Item
                tbody
                    for item in cart
                        - subtotal = subtotal + item.quantity*item.price
                        tr
                            th(scope='row') #{item.name}
                            td 
                                form(action='/cart' method='post')
                                    input#quantity(type='number' name='quantity' min='1' value=`${item.quantity}`)
                                    |
                                    |
                                    button.btn.btn-primary(type='submit' name='update' value=`${item.isbn}`) Update Quantity
                            td #{item.price}
                            td
                                form(action='/cart' method='post')
                                    button.btn.btn-danger(type='submit' name='remove' value=`${item.isbn}`) Remove
                    tr
                        - subtotal = subtotal.toFixed(2)
                        th(scope='row')
                        td Current Subtotal 
                        td #{subtotal}
        else
            h1 No items in your cart currently

