html
    head
        title Look Inna Book BookStore
        include ./header.pug
        script(src='/js/checkout.js')
    body
        //script(src='./js/checkout.js')
        h1 Checkout
        if !userName
            p Store account required for checkout. Please sign in above or register at the link below before proceeding to the checkout 
            a(href="http://localhost:3000/register")="Register"
        else
            h1 Current Cart Items
            table.table
                thead
                    tr
                        th(scope='col' style='width: 40%;') Book Name
                        th(scope='col' style='width: 30%;') Quantity
                        th(scope='col' style='width: 10%;') Price
                        th(scope='col' style='width: 20%;') Remove Item
                tbody
                    for item in cart
                        tr
                            th(scope='row') #{item.item}
                            td
                                form(action='/cart' method='post')
                                    input#quantity(type='number' name='quantity' min='1' value=`${item.quantity}`)
                                    |
                                    |
                                    button.btn.btn-primary(type='submit' name='update' value=`${item.item}`) Update Quantity
                            td #{item.price}
                            td
                                form(action='/cart' method='post')
                                    button.btn.btn-danger(type='submit' name='remove' value=`${item.item}`) Remove
                    tr
                        th(scope='row')
                        td Current Subtotal 
                        td 34.98
                    tr
                        th(scope='row')
                        td HST
                        td 5.75
                    tr
                        th(scope='row')
                        td Total
                        td 40.73


            h2 Billing Info
            form(action='/checkout' method='post')
                .form-row
                    .form-group.col-md-6
                        label(for='inputFirstNameB') First Name
                        input#inputFirstNameB.form-control(type='text' placeholder='Calvin' required)
                    .form-group.col-md-6
                        label(for='inputLastNameB') Last Name
                        input#inputLastNameB.form-control(type='text' placeholder='Hobbes' required)
                    .form-group.col-md-6
                        label(for='inputEmailB') Email
                        input#inputEmailB.form-control(type='email' placeholder='hello@goodbye.com' required)
                    .form-group.col-md-6
                        label(for='inputPhoneB') Phone Number
                        input#inputPhoneB.form-control(type='tel' placeholder='123-456-7891' required)
                .form-group
                    label(for='inputAddressB') Address
                    input#inputAddressB.form-control(type='text' placeholder='1234 Main St' required)
                .form-group
                    label(for='inputAddress2B') Address 2
                    input#inputAddress2B.form-control(type='text' placeholder='Apartment, studio, or floor')
                .form-row
                    .form-group.col-md-6
                        label(for='inputCityB') City
                        input#inputCityB.form-control(type='text' required)
                    .form-group.col-md-6
                        label(for='inputProvinceB') Province
                        input#inputProvinceB.form-control(type='text' required)
                    .form-group.col-md-2
                        label(for='inputPostalB') Postal Code
                        input#inputPostalB.form-control(type='text' placeholder='A1B4W9' required)
                .form-row
                    .form-group.col-md-6
                        label(for='inputCreditCardB') Credit Card Number
                        input#inputCreditCardB.form-control(type='text' placeholder='12345678' required)
                    .form-group.col-md-6
                        label(for='inputCreditExpiryB') Credit Card Expiry Date
                        input#inputCreditExpiryB.form-control(type='text' placeholder='11/22' required)
                    .form-group.col-md-6
                        label(for='inputCVVB') CVV
                        input#inputCVVB.form-control(type='text' placeholder='123' required)

                br
                br
                .form-check
                    input#shipCheck.form-check-input(type='checkbox' value='' oninput="setShippingValues()")
                    label.form-check-label(for='shipCheck')
                        | Shipping Info Same as Billing
                br
                h2 Shipping Info
                .form-row
                    .form-group.col-md-6
                        label(for='inputFirstNameS') First Name
                        input#inputFirstNameS.form-control(type='text' placeholder='Calvin' required)
                    .form-group.col-md-6
                        label(for='inputLastNameS') Last Name
                        input#inputLastNameS.form-control(type='text' placeholder='Hobbes' required)
                    .form-group.col-md-6
                        label(for='inputEmailS') Email
                        input#inputEmailS.form-control(type='email' placeholder='hello@goodbye.com' required)
                    .form-group.col-md-6
                        label(for='inputPhoneS') Phone Number
                        input#inputPhoneS.form-control(type='tel' placeholder='123-456-7891' required)
                .form-group
                    label(for='inputAddressS') Address
                    input#inputAddressS.form-control(type='text' placeholder='1234 Main St' required)
                .form-group
                    label(for='inputAddress2S') Address 2
                    input#inputAddress2S.form-control(type='text' placeholder='Apartment, studio, or floor')
                .form-row
                    .form-group.col-md-6
                        label(for='inputCityS') City
                        input#inputCityS.form-control(type='text' required)
                    .form-group.col-md-4
                        label(for='inputProvinceS') Province
                        input#inputProvinceS.form-control(type='text' required)
                    .form-group.col-md-2
                        label(for='inputPostalS') Postal Code
                        input#inputPostalS.form-control(type='text' placeholder='A1B4W9' required)
                button.btn.btn-success(type='submit') Complete Checkout

