
a(href="http://localhost:3000/")="Home"
|
|
a(href="http://localhost:3000/books")="Books"
|
|
a(href="http://localhost:3000/register")="Register"
|
|
a(href="http://localhost:3000/cart")="View Cart"
|
|
a(href="http://localhost:3000/tracking")="Track an Order"
|
|
a(href="http://localhost:3000/checkout")="Checkout"
|
|
a(href="http://localhost:3000/sales")="View Sales"
|
|
a(href="http://localhost:3000/storeorders")="View Store Orders"
|
.input-group
	.form-outline
		input#form1.form-control(type='search' placeholder="Search")
		label.form-label(for='form1')
	button.btn.btn-primary(type='button') Search
		i.fas.fa-search

if userName
	|Currently logged in as:
	|
	p #{userName}
	br
	br
else
	form#thelogin(action="/signin" method="POST")
		|Username: 
		input#username(type="text" name="user_name" required)
		|
		|Password: 
		input#password(type="password" name="pass_word" required)
		button(type="submit")="Submit"